# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# Media (загруженные пользователями файлы — не храним в репозитории)
unbound/media/**
!unbound/media/.gitkeep

# Окружение
.env
.env.*
!.env.example

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
